*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body{
    width: 100%;
    height: 100%;
    background-color: rgb(29, 28, 28);
    color: white;
}

body{
    overflow: hidden;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    /* background-color: rgb(26, 207, 177); */
    height: 130px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-weight: 400;
    font-size: 25px;
    /* text-transform: uppercase; */
    text-align: center;
}

button{
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    background-color: rgb(215, 235, 245);
}

button:hover{
    transform: scale(1.05);
    background-color: rgb(162, 214, 238);
}