*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: anton;
    src: url(./Fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: mono;
    src: url(./Fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-VariableFont_wght.ttf);
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameSec{
    height: 200px;
    width: 100%;
    background-color: rgb(58, 8, 124);
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    font-family: anton;
    padding: 10px;
    font-weight: 500;
}

.des{
    font-family: mono;
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: beige;
    align-items: center;
    height: 1200px;
    width: 1000px;
}

.aboutMe{
    height: 150px;
    width: 1000px; 
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(104, 89, 89);
}


.points{
    background-color: #ebe1e1;
    margin: 2px;
    height: 25px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointsSecA, .pointsSecB, .pointsSecC,.pointsSecD{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.pointsSecA{
    height: 100px;
}


.education{
    height: 170px;
    width: 1000px;
    padding: 10px;
    background-color: rgb(150, 95, 95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.skills{
    height: 220px;
    width: 1000px;
    padding: 30px;
    background-color: rgb(209, 197, 132);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projects{
    height: 220px;
    width: 1000px;
    padding: 30px;
    background-color: rgb(80, 121, 182);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contactMe{
    height: 220px;
    width: 1000px;
    padding: 30px;
    background-color: rgb(197, 89, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.size{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}