@font-face {
    font-family: lato;
    src: url(Lato-Light.woff);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: lato;
}   

html, body{
    height: 100%;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    /* color: white; */
}

main{
    /* background-color: black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows:1fr 1fr 1fr; */
    color: black;
    grid-template-areas: "header header header header"
                         "section-1 section-1 section-1 section-1"
                         "main-sec main-sec main-sec main-sec"
                         "figure figure figure figure"
                         "section-3 section-3 section-3 section-3"
                         "section-4 section-4 section-5 section-5"
                         "section-6 section-6 section-6 section-6"
                         "section-7 section-7 section-7 section-7"

    ;

}

header, figure, .btn-links, .section-1, .section-3, .exp-dis, .section-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-des, .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    height: 85px;
    width: 100%;
    gap: 240px;
    grid-area: header;
}


.logo{
    font-weight: bolder;
    font-size: 1.3rem;
}

header a{
    text-decoration: none;
    color: black;
}

.links{
    background-color: aqua;
    width: 400px;
}

.btn-links{
    background-color: aqua;
    display: flex;
    width: 200px; 
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.new{
    width: 270px; 
    gap: 18.5px;
}

.btn-links .btn-p{
    padding: 13px 21px;
    font-size: 1rem;
} 

.btn-links button{    
    color: white;
    background-color: rgb(52, 72, 255);
    border: 1px solid rgb(52, 72, 255);;
    padding: 9px 18px;
    border-radius: 100px;
    font-size: 0.9rem;
}

.btn-links .sty{
    background-color: white;
    color: rgb(52, 72, 255);;
}

.main-sec{
    background-color:  rgb(238, 236, 236);
    grid-area: main-sec;
    margin: 0px 13px ;
    border-radius: 15px;
}



figure{
    grid-area: figure;
}

figure .image{
    height: 450px;
    width: 1200px;
    background-image: url(photo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 40px;
}

.section-1{
    height: 200px;
    grid-area: section-1;
    gap: 250px;
}


.section-1 h1{
    font-size: 3.5rem;
}

.section-1 .des{
    font-size: 1.1rem;
}

.section-1 p{
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
} 

.section-3{
    grid-area: section-3;
}

.section-3 h1{
    font-weight: bolder;
    margin-bottom: 10px;
}

.section-3 .feature-in-num{
    height: 150px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
}

.section-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 40px 100px 32px 70px;
    background-color: indianred;
    grid-area: section-4;
    background-color: rgb(238, 236, 236);
    margin-left: 13px;
    border-radius: 15px 0px 0px 15px;
}

.section-5{
    background-color: indigo;
    grid-area: section-5;
    background-color: rgb(238, 236, 236);
    margin-right: 13px;
    border-radius: 0px 15px 15px 0px;
}

.wo-img{
    height: 420px;
    width: 490px;
    background-image: url(w.avif);
    background-position: start;
    background-size: cover;
    margin: 40px 100px;
    border-radius: 15px;
}

.about-us, .expertise{
    border-radius: 35px;
    padding: 11px 22px;
}

.section-4 h1{
    margin-bottom: 30px;
}

.section-6{
    padding: 50px 0px;
    grid-area: section-6;
}

.sec-6-dis{
    width: 1180px;
}

.exp-dis{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: ; */
}

.section-7{
    grid-area: section-7;
}

.profiles{
    width: 1180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 80px;

}

.profile-pic1, .profile-pic2, .profile-pic3, .profile-pic4, .profile-pic5, .profile-pic6, .profile-pic7, .profile-pic8 {
    height: 350px;
    width: 283px;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 15px;
    position: relative;
    background-color: rgb(211, 211, 216);
}

.profile-pic1, .profile-pic2, .profile-pic3, .profile-pic4, .profile-pic5, .profile-pic6, .profile-pic7, .profile-pic8:hover{
    background-color: blue;
    cursor: pointer;
}

.name, .name-dis{
    border-radius: 0px 0px 15px 15px;
    height: 65px;
    width: 283px;
}

.name-dis h5{
    margin-bottom: 30px;
}

.name{
    /* background-color: rgb(0, 0, 0); */
    text-align: center;
    position: absolute;
    padding: 8px;
    left: 0%;
    bottom: 0%;
}

.name h5{
    color: rgb(150, 150, 150);
    margin-top: 5px;
}


.name h3{
    color: white;
}

.profile-des{           
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.profile-pic4{
    background-position: center;
    background-image: url(https://i.pinimg.com/736x/77/fd/aa/77fdaac4afd5e8da46936e9490fdad06.jpg);
}

.profile-pic2{
    background-image: url(https://i.pinimg.com/736x/7e/46/c6/7e46c6d2798eff446b365c5246f4c9ca.jpg);
    background-position: center;
}

.profile-pic3{
    background-image: url(https://i.pinimg.com/1200x/1c/85/2e/1c852ea928150dfcf54c5457dbca0a35.jpg);
    background-position: center;
}

.profile-pic1{
    background-position: center;
    background-image: url(https://i.pinimg.com/1200x/69/bd/9c/69bd9c29989072949307e8e46b8d66d2.jpg) ;
}

.profile-pic5{
    background-image: url(https://i.pinimg.com/1200x/0b/b4/44/0bb444580cc34f177002463f094f1175.jpg);
}

.profile-pic6{
    background-image: url(https://i.pinimg.com/1200x/34/a8/0b/34a80bbb3c7df4e53d30603b6eb3d2c4.jpg);
}

.profile-pic7{
    background-image: url(https://i.pinimg.com/1200x/4f/37/26/4f3726e481efeca38abe2e991cd773b9.jpg);
}

.profile-pic8{
    background-image: url(https://i.pinimg.com/736x/e4/2d/da/e42dda69164222c59ace517921b95079.jpg);

}

/* 

.section-8{
    background-color: teal;
}

.section-9{
    background-color: tan;
}

footer{
    background-color: snow;
} */


